body{
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
nav{
  display: flex;
  flex-direction: row;
  float: right;
}
ul
{
    font-size: 14px;
    margin: 0;
    padding: 0;
    list-style: none;
}

ul li
{
    display: block;
    position: relative;
    float: left;
}

li ul
{
    display: none;
}
ul li a 
{
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px 15px 5px 15px;
    margin-left: 1px;
    border-bottom: none; 
    transition: border-bottom 0.1s linear;
}

ul li a:hover 
{
    border-bottom: solid 3px #f04f32;
}
li:hover ul 
{
    display: block;
    position: absolute;
    background-color: #f04f32;
    color: white;
}
.Tariff{
  display: flex;
  flex-direction: row;
  margin-left: 0 auto;
  margin-right: 0 auto;
}
.Tariff-wrapper{
  border: solid 1px #e7e7e7;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  width: 360px;
}
.Tariff-header{
  padding-top: 35px;
  color: #f04f32;
  padding-bottom: 35px;
  border-bottom: solid 3px #e7e7e7;
  text-align: left;
}
.Tariff-body{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: left;
}
.Tariff-body-item{
  padding-top: 25px;
}
.Tariff-footer{
  text-align: center;
  border: solid 1px #f04f32;
  border-radius: 5px;
  height: 50px;
  padding: auto;
}
.Tariff-footer a{
  color: #f04f32;
  text-align: center;
  margin: 0%;
}
.Gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.Gallery img{
  width: 170px;
  height: 170px;
}
.Gallery-block{
  width: 170px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.active {
    color: #f04f32;
  }
   .accordion {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 70px;
  }
  .accordion h6 {
    background: white;
    padding: 7px 15px;
    margin: 0;
    cursor: pointer;
  }

  .accordion h6:hover {
    background-color: #e3e2e2;
  }

  .accordion h6.active {
    background-position: right 5px;
    border-top: solid 3px #f04f32;
    border-right: solid 3px #f04f32;
    border-left: solid 3px #f04f32;
  }

  .accordion p {
    background: white;
    padding-left: 15px;
    border-right: solid 3px #f04f32;
    border-left: solid 3px #f04f32;
    border-bottom: solid 3px #f04f32;
  }
  h1{
    margin-bottom: 70px;
    justify-content: center;
  }
  h2{
    text-align: center;
    margin-bottom: 25px;
  }
  .Team{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
  }
  .Team-block{
    display: block;
    text-align: center;
  }
  .Team p{
    text-align: left;
    padding-left: 110px;
    width: 210px;
    font-size: 10px;
  }
  .Team img{
    width: 80px;
    height: 80px;
  }
  @media screen and (min-width:1224px){
    body{
      padding-left: 170px;
      padding-right: 170px;
    }
    h1{
      width: 100%;
      text-align: left;
    }
    h2{
      margin-left: 25px;
      margin-bottom: 90px;
    }
    .Team{
      flex-direction: row;
      margin-bottom: 210px;
    }
    .Team-block{
      text-align: left;
      padding-left: 0px;
      padding-right: 195px;
    }
    .Team p{
      padding-left: 0px;
    }
    .Gallery{
      padding-left: 40px;
      padding-right: 40px;
    }
    .Gallery img{
      width: 280px;
      height: 280px;
    }
    .Gallery-block{
      width: 280px;
      margin-bottom: 75px;
    }
    .Tariff{
      flex-direction: row;
    }
    nav{
      display: flex;
      flex-direction: row;
      float: right;
    }
    ul
    {
        font-size: 14px;
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    ul li
    {
        display: block;
        position: relative;
        float: left;
    }
    
    li ul
    {
        display: none;
    }
    
    ul li a 
    {
        display: block;
        text-decoration: none;
        color: white;
        padding: 5px 15px 5px 15px;
        margin-left: 1px;
        border-bottom: none; 
        transition: border-bottom 0.1s linear;
    }
    
    ul li a:hover 
    {
        border-bottom: solid 3px #f04f32;
    }
    li:hover ul 
    {
        display: block;
        position: absolute;
        background-color: #f04f32;
        color: white;
    }
  }
